@import url(https://fonts.bunny.net/css?family=dancing-script:400|roboto:100,400,700);
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-primary: #2d3436;
  --bg-secondary: #6c7679;
  --text:#f1f1f1;
  --border: gray;
  --bg-hover:#fab1a0;
}

* {
  font-family: "Roboto", sans-serif;
}

.handwriting {
  font-family: "Dancing Script", cursive;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

.h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
}

.h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
}

.h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
}

.h4 {
  font-size: clamp(18px, 14px + 0.7vw, 22px);
  letter-spacing: calc(1px + 0.01vw);
}

.h5 {
  font-size: clamp(16px, 14px + 0.4vw, 20px);
  letter-spacing: calc(1px + 0.01vw);
}

.P {
  font-size: clamp(16px, 14px + 0.4vw, 20px);
  letter-spacing: calc(0.4px + 0.01vw);
  line-height: clamp(30px, 24px + 0.66vw, 36px);
}

.flexMid,
.midFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posMid,
.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.container {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: var(--bg-secondary);
  border-bottom: 2px solid var(--border);
  box-shadow: 0 3px 5px var(--border);
  padding: 20px;
  position: relative;
}

.infos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infos-header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.infos-header .logo-header {
  background: var(--bg-primary);
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0 0 8px 2px var(--border);
  flex-shrink: 0;
  overflow: hidden;
}
.infos-header .logo-header img {
  filter: drop-shadow(0 0 4px var(--text));
  transition: all 0.5s ease-in-out;
  animation: appear 1s ease-in-out;
}
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.infos-header .logo-header img:hover {
  transform: scale(1.2);
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0, 5s ease-in-out;
}
nav a {
  position: relative;
  text-wrap: nowrap;
  overflow: hidden;
}
nav a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--bg-hover);
  bottom: 0;
  left: 0;
  transform: translateX(-105%);
  transition: all 0.25s ease-in-out;
}
nav a:hover::before {
  transform: translate(0);
}
nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--bg-hover);
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-in-out 0.25s;
}
nav a:hover::after {
  transform: translate(0);
}
nav a:not(:hover)::after {
  transform: translateX(105%);
  transition: transform 0.25s ease-in-out 0.25s;
}

.burger-menu {
  position: relative;
  top: 50%;
  right: 0;
  font-size: 41px;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  header {
    padding: 20px 10px;
  }
  .burger-menu {
    display: block;
  }
  .infos-header {
    padding: 0;
  }
  .infos-header .logo-header {
    width: 80px;
    height: 80px;
  }
  nav {
    position: absolute;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: -320px;
    background: rgba(85, 85, 85, 0.4588235294);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    transition: all 0.33s;
    z-index: 10;
  }
  nav .h4 {
    color: white;
    padding: 30px;
    text-shadow: 2px 2px 4px #222;
  }
  .burger-menu:hover ~ nav,
  nav:hover {
    top: 0;
  }
}
body {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text);
}

main {
  flex-grow: 1;
}

footer {
  border-top: 2px solid var(--border);
  box-shadow: 0 -3px 5px var(--border);
  padding: 20px;
  margin-top: 20px;
  background: var(--bg-secondary);
}

.infos-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infos-footer .logo-footer {
  width: 120px;
  height: 120px;
  padding: 20px;
  background: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid var(--border);
  box-shadow: 0 0 8px 2px var(--border);
}
.infos-footer .legal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.infos-footer .legal .p:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #f5caca;
  transition: 0.2s ease-in-out;
}

@media (max-width: 500px) {
  .infos-footer {
    flex-direction: column;
    gap: 30px;
    padding: 15px;
  }
}
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  border-radius: 30px;
}
.hero h2 {
  width: 100%;
  text-align: center;
  background-color: rgba(139, 117, 117, 0.5019607843);
  text-shadow: 2px 2px 4px black;
}

.hero-subtitle {
  text-align: center;
  padding: 30px;
  margin: 20px 0;
  line-height: 80px;
}

.specialities-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  margin-bottom: 50px;
}
.specialities-link a {
  width: 35vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: opacity(0.8);
  transition: all 0.33s ease-in-out;
}
.specialities-link a:hover {
  filter: opacity(1);
  letter-spacing: 2px;
}
.specialities-link a img {
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 2px 4px var(--bg-hover);
}
.specialities-link a p {
  padding-top: 15px;
  color: var(--bg-hover);
}

@media (max-width: 900px) {
  .specialities-link {
    font-size: 14px;
  }
  .hero-subtitle {
    font-size: 18px;
    line-height: 50px;
  }
}
.plainning {
  text-align: center;
  margin-bottom: 50px;
}
.plainning h2 {
  color: var(--bg-hover);
}
.plainning span {
  font-size: 30px;
}
.plainning ul li {
  margin: 20px 0;
}

@media (max-width: 900px) {
  .plainning {
    font-size: 18px;
  }
  span {
    font-size: 15px;
  }
  ul li {
    font-size: 14px;
  }
  .h4 {
    font-size: 14px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.contact h2 {
  margin: 10px 0;
  color: var(--bg-hover);
}
.contact form {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 50vw;
  max-width: 900px;
  min-width: 280px;
}
.contact form p {
  text-align: center;
  margin-bottom: 20px;
}
.contact form input,
.contact form textarea {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin: 10px 0;
  box-shadow: 1px 1px 2px var(--text);
}
.contact form button {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--bg-primary);
  font-size: 18px;
  font-weight: 700;
  color: white;
  box-shadow: 1px 1px 2px var(--bg-primary);
  cursor: pointer;
  transition: all 0.33s;
}
.contact form button:hover {
  background: var(--bg-hover);
  color: var(--bg-primary);
}
.contact form .recall {
  display: flex;
  align-items: center;
}
.contact form #recall {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
  cursor: pointer;
}

.food-card {
  width: 500px;
  height: 250px;
  border: 2px solid var(--bg-hover);
  background-color: var(--bg-secondary);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px var(--text);
}
.food-card img {
  width: 250px;
  height: 250px;
  filter: grayscale(5%) brightness(90%);
  transition: all 0.5s ease-in-out;
}
.food-card:hover > img {
  filter: grayscale(0) brightness(100%);
  transform: scale(1.05);
}

.food-description {
  width: 250px;
  height: 250px;
  padding: 15px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.food-description h3 {
  text-decoration: underline;
  text-underline-offset: 8px;
  font-size: 30px;
  color: var(--bg-hover);
}
.food-description .food-text {
  line-height: 30px;
}
.food-description .food-price {
  text-align: right;
  color: var(--text);
}

@media (max-width: 1100px) {
  .food-card {
    width: 400px;
    height: 200px;
  }
  .food-card img {
    width: 200px;
    height: 200px;
  }
  .food-description {
    height: 200px;
    width: 200px;
    gap: 10px;
    padding: 10px;
  }
  .food-description h3 {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .food-card {
    flex-direction: column;
    width: 200px;
    height: 350px;
  }
}/*# sourceMappingURL=global.css.map */