// création des classes utilitaire qui seront utiliser dans le projet //
.flexMid,
.midFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.posMid,
.midPos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.container {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}
